<div class="blocArticle">
  <div class="infoArticle">
    <h2>Hey {{ name }}!</h2>
    <p>
      Actuellement en reconversion professionnelle après huit ans en tant que
      Responsable Planning dans un laboratoire d'analyse de la qualité de l'air
      amiante, je suis désireux de mettre à profit mes compétences acquises à la
      Wild Code School.
    </p>
  </div>

  <button (click)="sayHello()">Dire Bonjour</button>
  <div>
    <img [src]="article.image" [alt]="name" />
    <h3>
      {{ article.title }}
    </h3>
    <h4>{{ article.author }}</h4>
    <div [hidden]="!article.isPublished">
      <p>{{ article.content }}</p>
      <p>{{ article.comment }}</p>
      <input type="text" [(ngModel)]="article.comment" />
    </div>
  </div>
  <button (click)="togglePublication()">
    {{ article.isPublished ? "Dépublier" : "Publier" }}
  </button>
</div>
