$card-bg-color: #f9f9f9;

$text-color: #333333;
$card-padding: 20px;
$card-border-radius: 10px;
$max-width: 600px;

.blocArticle {
  background-color: $card-bg-color;
  border-radius: $card-border-radius;
  padding: $card-padding;
  margin: 20px auto;
  max-width: $max-width;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

  p {
    font-size: 16px;
    line-height: 1.6;
    color: $text-color;
  }
}
