<div class="blocArticle">
  <div class="infoArticle">
    {{ article.isPublished ? "Article publié" : "Article non publié" }}
    <h2>{{ article.title }}</h2>
    <img [src]="article.image" [alt]="name" />
  </div>
  <div class="articleContent">
    <p class="author">
      <em>{{ article.author }}</em>
    </p>

    <p>{{ article.content }}</p>
    <div class="commentPart">
      Commentaire :
      <p>{{ article.comment }}</p>
      <input type="text" [(ngModel)]="article.comment" />
      <button class="button-4" (click)="togglePublication()">
        Publier / Dépublier
      </button>
    </div>
  </div>
</div>
