<div class="blocArticle">
  <div class="infoArticle">
    <h2>Hey !</h2>
    <p>
      Actuellement en reconversion professionnelle après huit ans en tant que
      Responsable Planning dans un laboratoire d'analyse de la qualité de l'air
      amiante, je suis désireux de mettre à profit mes compétences acquises à la
      Wild Code School.
    </p>
  </div>

  <div>
    <p>
      Mon parcours dans le domaine de l’amiante m’a inculqué des valeurs telles
      que la rigueur, la sécurité, les délais et le respect des normes, des
      qualités que je compte bien mettre à profit dans ma future carrière en
      développement web.
    </p>
  </div>
</div>
